{% extends 'base.html' %}

{% block content %}

<div class="container-fluid">
    <div class="row">
        <div class="col-md-2">
            <h4>This is sorting place where we can sort things accordingly</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nobis, mollitia consequatur quae possimus deleniti repellendus molestiae deserunt odio, natus aut, praesentium modi necessitatibus ea minima placeat. Libero nesciunt, laboriosam tempora.</p>
        </div>
        <div class="col-md-8">
            <h2>This is thw news and profile site where a user can review the profile</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius totam mollitia nobis, voluptas ut aliquam, doloribus modi eos quas error possimus fugit explicabo quidem blanditiis! Magnam a quae autem aspernatur!</p>
        </div>
        <div class="col-md-2">
            <h3>This is User site where his current Profile and actions are displayed</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Esse quisquam perferendis veniam delectus optio, neque possimus atque reprehenderit. Earum reprehenderit, sit nulla blanditiis sed minima! Est facilis, maiores rerum ipsa.</p>
        </div>
    </div>
</div>



{% endblock %}