{% extends 'base.html' %}

{% block content%}
<div class="container">
    <div class="row">
        <div class="col-6">
            <a href="{% url 'home' %}"><button class="btn btn-success">View All Category</button></a>
        </div>
        <div class="col-6">
            <a href="{% url 'jobcategory' user.id %}"><button class="btn btn-secondary">View Jobs of my Category</button></a>
        </div>
    </div>
    <br>
    <br>
    {% if jobs %}
    {% for job in jobs %}
        <div class="row jobs">
            <div class="col-lg-10">
        <h2 class="job-title">{{job.title|title}}</h2>
        <h4 class="job-category">{{job.category}}</h4>
        <p class="job-description">{{job.description}}</p>
        <div class="actions">
            <a href="{% url 'applyjob' job.id %}"><button class="btn btn-primary">Apply Now</button></a>
        </div>
    </div>
</div>
    {% endfor %}
    {% else %}
    <h4 class="text-center">No jobs available of your category</h4>
    {% endif %}
</div>
<div class="text-center">
<div class="pagination">
    <span class="step-links">
        {% if page_obj_jobs.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ page_obj_jobs.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ page_obj_jobs.number }} of {{ page_obj_jobs.paginator.num_pages }}.
        </span>

        {% if page_obj_jobs.has_next %}
            <a href="?page={{ page_obj_jobs.next_page_number }}">next</a>
            <a href="?page={{ page_obj_jobs.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
</div>
</div>

{% endblock %}

