body {
  background: #eee
}

.ratings i {
  font-size: 16px;
  color: red
}

.strike-text {
  color: red;
  text-decoration: line-through
}

.product-image {
  width: 100%
}

.dot {
  height: 7px;
  width: 7px;
  margin-left: 6px;
  margin-right: 6px;
  margin-top: 3px;
  background-color: blue;
  border-radius: 50%;
  display: inline-block
}

.spec-1 {
  color: #938787;
  font-size: 15px
}

h5 {
  font-weight: 400
}

.para {
  font-size: 16px


}

input.hidden {
    position: absolute;
    left: -9999px;
}

#profile-image1 {
    cursor: pointer;
     width: 100px;
    height: 100px;
  border:2px solid #03b1ce;
}
.tital{
   font-size:16px;
   font-weight:500;
  }
.bot-border{ border-bottom:1px #f8f8f8 solid;
    margin:5px 0  5px 0;
  }	