{% extends 'base.html' %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-4">
            <div class="dropdown mx-4">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                 Choose Category
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" href="{% url 'home' %}">All</a>
                    <a class="dropdown-item" href="{% url 'agriculture' %}">Agriculture</a>
                    <a class="dropdown-item" href="{% url 'architecture' %}">Architecture and Construction</a>
                    <a class="dropdown-item" href="{% url 'technology' %}">Technology and Communication</a>
                    <a class="dropdown-item" href="{% url 'sales' %}">Sales and Marketing</a>
                    <a class="dropdown-item" href="{% url 'business' %}">Business</a>
                    <a class="dropdown-item" href="{% url 'education' %}">Education</a>
                    <a class="dropdown-item" href="{% url 'health' %}">Health</a>
                    <a class="dropdown-item" href="{% url 'law' %}">Law</a>
                    <a class="dropdown-item" href="{% url 'transportation' %}">Transportation</a>
                    <a class="dropdown-item" href="{% url 'it' %}">Information Technology</a>
                </div>
              </div>
        </div>
        <div class="col-4">
            <a href="{% url 'postjob' %}"><button class="btn btn-primary" id="Post">Post a Job</button></a>
        </div>
        <div class="col-4">
            <a href="{% url 'initiateproject' %}"><button class="btn btn-primary">Initiate Project</button></a>
        </div>
    </div>
<div class="container mt-5 mb-5">
    <div class="d-flex justify-content-center row">
        <div class="col-md-10">
            {% if users %}
            {% for user in users %}
            <div class="row p-2 bg-white border rounded">
                <div class="col-md-3 mt-1"><img class="img-fluid img-responsive rounded product-image" src="https://png.pngtree.com/element_origin_min_pic/16/12/07/921c6d12350e366ee4af07eb9055ab40.jpg"></div>
                <div class="col-md-6 mt-1">
                    <h5>{{user.get_full_name}}</h5>
                    <div class="d-flex flex-row">
                        <div class="ratings mr-2"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></div><span>Total Hiring: {{user.total_hiring}}</span>
                    </div>
                    <div class="mt-1 mb-1 spec-1"><span>{{user.Specialization}}</span><span></span><span></span><span></span><span><br></span></div>
                    <div class="mt-1 mb-1 spec-1"><span></span><span></span><span></span><span></span><span><br></span></div>
                    <p class="text-justify text-truncate para mb-0">{{user.Skills}}<br><br></p>
                </div>
                <div class="align-items-center align-content-center col-md-3 border-left mt-1">
                    <div class="d-flex flex-row align-items-center">
                        <h4 class="mr-1">Pay rate: ${{user.pay_rate}}</h4>
                    </div>
                    <h6 class="text-success">Negotiable</h6>
                    <div class="d-flex flex-column mt-4"><a href="{% url 'detail' user.id%}"><button  id = "details" class="btn btn-primary btn-sm" type="button" style="width:64%">Details</button></a>
                    <a href="{% url 'hire' user.id%}"><button class="btn btn-secondary btn-sm mt-2" type="button" id = "hire" >Hire Now!</button></a></div>
                </div>
            </div>
            <br>
            {% endfor %}
            {% else %}
            <h5 class="text-center">No freelancer are available of this category</h5>
            {% endif %}
        </div>

    </div>
</div>
</div>
<div class="pagination">
    <span class="step-links">
        {% if users.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ users.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ users.number }} of {{ users.paginator.num_pages }}.
        </span>

        {% if users.has_next %}
            <a href="?page={{ users.next_page_number }}">next</a>
            <a href="?page={{ users.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
</div>

<script>
   
</script>
{% endblock %}
