{% extends 'base.html' %}

{% block content %}
<div class="container">
    <h2 class="text-center">Meet our Developers</h2>
    <br>
    <div class="row">
<div class="col-lg-6 col-md-4 mb-3">
    <div class="card">
      <div class="card-body">
        <div class="d-flex flex-column align-items-center text-center">
          <img src="https://bootdey.com/img/Content/avatar/avatar7.png" alt="Admin" class="rounded-circle" width="150">
          <div class="mt-3">
            <h4>Prajwal Thapa</h4>
            <p class="text-secondary mb-1">Currently a Student</p>
            <p class="text-muted font-size-sm">Adress: Panauti-03</p>
            <p class="text-muted font-size-sm">mail: prazzwalthapa87@gmail.com</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-6 col-md-4 mb-3">
    <div class="card">
      <div class="card-body">
        <div class="d-flex flex-column align-items-center text-center">
          <img src="https://bootdey.com/img/Content/avatar/avatar7.png" alt="Admin" class="rounded-circle" width="150">
          <div class="mt-3">
            <h4>Pradip Dulal</h4>
            <p class="text-secondary mb-1">Currently a Student</p>
            <p class="text-muted font-size-sm">Adress: Pakudol, Banepa</p>
            <p class="text-muted font-size-sm">mail: pradipdulaldualdulal@gmail.com</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-6 col-md-4 mb-3">
    <div class="card">
      <div class="card-body">
        <div class="d-flex flex-column align-items-center text-center">
          <img src="https://bootdey.com/img/Content/avatar/avatar7.png" alt="Admin" class="rounded-circle" width="150">
          <div class="mt-3">
            <h4>Rabin Sapkota</h4>
            <p class="text-secondary mb-1">Currently a Student</p>
            <p class="text-muted font-size-sm">Adress: Etey, Dhulikhel</p>
            <p class="text-muted font-size-sm">mail: rabinsapkota@gmail.com</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-6 col-md-4 mb-3">
    <div class="card">
      <div class="card-body">
        <div class="d-flex flex-column align-items-center text-center">
          <img src="https://bootdey.com/img/Content/avatar/avatar7.png" alt="Admin" class="rounded-circle" width="150">
          <div class="mt-3">
            <h4>Utsab Pyakurel</h4>
            <p class="text-secondary mb-1">Currently a Student</p>
            <p class="text-muted font-size-sm">Adress: Banepa</p>
            <p class="text-muted font-size-sm">mail: utsab555p@gmail.com</p>
          </div>
        </div>
      </div>
    </div>
  </div>


</div>
</div>  
{% endblock %}